.context-btn{
    height: 37px;
    min-width: 123px;
    border: 2px solid transparent;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: inherit;
    transition: box-shadow 500ms, border 500ms;
}